* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #272727;
  color: #fff;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}
.main .main_paragraph1 {
  font-weight: 700;
}
.main:hover {
  color: pink;
}
@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}