@import url(reset.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

:root {
  --clr-green: #00d08e;
  --clr-green-light: #b2f1dd;
  --clr-white: #fff;
  --clr-grey-dark: rgb(41, 39, 39);
}
.btn {
  border: none;
}
body {
  font-family: "PT-Sans", sans-serif;
}
#hero {
  background-image: linear-gradient(
      to bottom,
      rgba(36, 36, 37, 0.884),
      rgba(153, 148, 153, 0.055)
    ),
    url(../image/computer-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 800px;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
.header {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.header a {
  font-size: 25px;
  text-decoration: none;
  color: var(--clr-white);
}

/*   Hero */
#hero .info {
  text-align: center;
}
#hero .info .info__title {
  color: var(--clr-white);
  text-align: center;
  font-size: 75px;
  margin-top: 100px;
}
#hero .info .info__desc {
  color: var(--clr-white);
  width: 650px;
  text-align: center;
  font-size: 26px;
  padding-top: 25px;
  /* margin-left: 300px; */
  margin: 0 auto;
  padding-bottom: 105px;
  letter-spacing: 1px;
}
#hero .info .info__btn {
  margin: 0 auto;
  background-color: var(--clr-green);
  text-align: center;
  color: var(--clr-white);
  width: 130px;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 105px;
}
#hero .info .info__link a {
  color: var(--clr-white);
  text-decoration: none;
  font-size: 25px;
}
#hero .info .info__link i {
  padding-left: 10px;
}

/* Blocks */
#blocks {
  max-height: 550px;
  display: flex;
}
#blocks img {
  width: 50%;
}
#blocks .block-info {
  padding: 50px 80px;
  width: 50%;
}
#blocks .block-info .info__title {
  font-size: 35px;
  color: var(--clr-grey-dark);
  letter-spacing: 1px;
}
#blocks .block-info .info__desc {
  font-size: 26px;
  width: 750px;
  color: var(--clr-grey-dark);
  padding-bottom: 27px;
  letter-spacing: 1px;
}
#blocks .block-info .info__list li {
  list-style-type: none;
  padding-bottom: 25px;
  font-size: 20px;
}
#blocks .block-info .info__list li i {
  background-color: var(--clr-white);
  color: var(--clr-green);
  padding-right: 30px;
}
