@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

:root {
  --clr-primary: #cfab3b;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-secondary: #97680b;
  --clr-gray: #4f5472;
}
.primary-btn {
    color: var(--clr-white);
    border: var(--clr-white) solid 2px;
    background-color: transparent;
    padding: 10px 30px;
    cursor: pointer;
   
    font-weight: bold;
  }
html {
  font-family: Helvetica, sans-serif;
}
header .logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 70px;
}
header .logo-wrapper img {
  background: rgb(207, 171, 59);
  background: linear-gradient(
    180deg,
    rgba(207, 171, 59, 1) 0%,
    rgba(151, 104, 11, 1) 100%
  );
  position: absolute;
  margin-top: 0px;
  z-index: 1000;
}
header .logo-wrapper .icons-wrapper {
  display: flex;
  height:70px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -15px;
  color: var(--clr-gray);
  font-size: 18px;
}
header .logo-wrapper .icons-wrapper .icon {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .logo-wrapper .icons-wrapper .icon:hover{
 background-color: var(--clr-secondary);
 color: var(--clr-white);
 padding: 8px 15px;
 transition: all 400ms ease-in-out;
}
header .navigation ul {
  display: flex;
  justify-content: right;
  margin-right: 60px;
  list-style-type: none;
  /* margin-top: -30px; */
}
header .navigation ul li a {
  margin-left: 40px;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 18px;
  color: var(--clr-gray);
}
header .navigation ul li a:hover{
  background-color: var(--clr-secondary);
  color: var(--clr-white);
  padding: 8px 8px;
  transition: all 400ms ease-in-out;
}
/* Section Hero */
main #hero {
  /* height: 110vh; */
  width: 140%;
}
main #hero img {
  height: 600px;
  /* width:100%; */
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin-left: -5%;
  background-repeat: no-repeat;
  width: 2200px;
  position: relative;
}
main #hero .shuttle {
  position: absolute;
  width: 580px;
  background-color: rgba(0, 0, 0, 0.69);
  padding: 40px 30px;
  letter-spacing: 1px;
  margin-left: 200px;
  margin-top: -400px;
  color: var(--clr-white);
  font-size: 18px;
  line-height: 1.1;
}
main #hero .shuttle .title {
  margin-bottom: 20px;
  font-size: 30px;
}
main #hero .shuttle .shuttle__btn {
  margin-top: 20px;
  border: var(--clr-white) solid 2px;
  background-color: transparent;
  color: #f19f10;
  padding: 12px 30px;
  cursor: pointer;
  font-weight: bold;
}
main #hero .shuttle .shuttle__btn:hover {
  background-color: var(--clr-white);
}
 #hero .card {
  background: rgb(207, 171, 59);
  background: linear-gradient(
    180deg,
    rgba(207, 171, 59, 1) 0%,
    rgba(151, 104, 11, 1) 100%
  );
  /* width: 450px; */
  color: var(--clr-white);
  text-align: start;
  width: 1920px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#hero .card .card__text{
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 650px;   
} 
#hero .card .card__text p{
    font-size: 18px;
    padding-top: 20px;
     margin-bottom: 20px;
} 
#hero .card .card__text i{
 margin-right: 10px;
}
#hero .card .card__text .title{
    text-align: center;
   font-weight: 700;
   font-size: 30px;
}
#hero .card .primary-btn.btn{
margin-left: 40%;  
}
/* Section Budapest */
#budapest .heading{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;

}
#budapest .budapest-title{
    padding-top: 50px;
    font-size: 42px;
    font-weight: 100;
    text-align: center;
    color: var(--clr-gray);
}
#budapest .budapest-subtitle{
    color: var(--clr-gray);
    font-weight: 100;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}
#budapest .features .advertise{
    display: flex;
    justify-content: center;
}
#budapest .features .advertise img{
    border-radius: 100%;
    border: 1px solid var(--clr-gray);
   padding: 2px;

}
#budapest .features .advertise li {
    list-style: none;
    font-size: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
#budapest .features .advertise li p{
    width: 200px;
    text-align: center;
    margin-bottom: 30px;
}
/* Section Newsletter */
#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: rgb(207, 171, 59);
    background: linear-gradient(
      180deg,
      rgba(207, 171, 59, 1) 0%,
      rgba(151, 104, 11, 1) 100%
    );
    padding: 0 50px;
}
#newsletter .news{
    color: var(--clr-white);
}
 footer{
    padding-top: 24px;
    height: 70px;
    text-align: center;
}

