.card {
    /* margin: 0 auto; */
    /* width: 300px; */
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 6px 10px 25px -9px rgb(69, 66, 69);
  }
  .card .body {
    padding: 21px 12px;
  }
  .card .body .body__tag {
    background-color: #cf5874;
    color: azure;
    padding: 3px 12px;
    border-radius: 12px;
    margin-bottom: 21px;
    font-size: 16px;
  }
  
  .card .body .body__title {
    font-size: 21px;
    line-height: 1.2;
    margin-bottom: 21px;
    
  }
  .card .body .body__description {
    color: rgb(93, 90, 90);
    margin-bottom: 42px;
    font-size: 16px;
  }
  .card .body .body__author {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 12px;
    vertical-align: top;
  }
  .card .body .body__release {
    display: inline-block;
  }
  .card .body .body__release .release__name,
  .card .body .body__release .release__date {
    margin: 0;
    font-size: 14;
  }
  .card .body .body__release .release__name {
    font-weight: bold;
  }
  