* {
  box-sizing: border-box;
}
body {
  background-color: rgb(238, 238, 238);
  margin:0 auto;
}
.container ul {
  list-style: none;
}
.container,
ul,
li {
   display: flex;
   overflow: hidden;
   margin-top: 50px;
}

li {
   flex: 1 1 20%;
   margin: 10px;
   border-radius: 10px;
   box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.75);
}
li:nth-child(2) {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
    flex: 1 7 100%;
  }



